.container{
    background-image: url("https://i.pinimg.com/originals/53/5f/85/535f8592a77ad727004eb3090aac545b.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Satisfy', cursive;
    color: white;
    height: 625px;
}

p{
    width: 900px;
    font-size: 20px;
    margin-top: 150px;
}