.container{
    background-image: url("https://i.pinimg.com/564x/d7/16/1e/d7161e2b9830a4e4c742f25abe58910e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Satisfy', cursive;
    color: white;
    height: 625px;
}

.anel{
    max-width: 300px;
    width: 100%;
   /* display: inline-block;
   border-radius: 50%;*/
   transform:  rotate(-90deg);
   transition-duration: 2s;
   border-radius: 50%;
}

p{
    width: 900px;
}